doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    script(src='https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js')
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css")
    script(src="https://cdn.jsdelivr.net/npm/sortablejs@1.13.0/Sortable.min.js")
    script(src='/js/client.js')

    style
      | body {
      |   background-image: url('/images/trump-black-and-white-clipart.webp');
      |   background-size: 100% auto;
      |   background-repeat: no-repeat;
      |   background-attachment: fixed;
      |   background-position: center bottom;
      | }
    
  body(class='p-2')

    main(class='container-full-width' )
        .container
          .row
            .col-md-12.text-center
              h1 <b>Elo Boys</b> 
            .col-md-12.text-center
              h2 (early access)


        block content

        block do_game

        block elo_table 

        block games_table 
        
    script(src='/js/bootstrap.min.js')


