doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    script(src='https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js')
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css")
    script(src="https://cdn.jsdelivr.net/npm/sortablejs@1.13.0/Sortable.min.js")
    script(src='/js/client.js')
    
  body(class='p-2')

    main(class='container-full-width' style='max-width: 720px')
        div(class='d-flex align-items-center p-3 my-1 bg-azure-light-gray rounded shadow-sm')
            img(class='me-3', src='/images/htph.jpg', alt='', width='48', height='48')
            div(class='1h-1')
                h1(class='h1 mb-0 text-azure-blue lh-1') Elo Boys (early access)
                small(class='text-black') Lose your friends with the help of this WebApp


        block content

        block do_game

        block elo_table 

        block games_table 
        
    script(src='/js/bootstrap.min.js')


