head {
  padding: 50px;
  font: 24px "Lucida Grande", Arial Black, Arial, sans-serif;
}

body {
  padding: 50px;
  font: 24px "Lucida Grande", Arial Black, Arial, sans-serif;
  background-color: #ffffff;
}

h1 {
  color: rgb(255, 255, 255); /* Set the font color */
  font-size: 50px;
  font-weight: bold;
  -webkit-text-stroke-width: 2px; /* Width of the outline */
  -webkit-text-stroke-color: rgb(0, 0, 0); /* Color of the outline */
}

h2 {
  color: rgb(255, 255, 255); /* Set the font color */
  font-size: 40px;
  font-weight: bold;
  -webkit-text-stroke-width: 2px; /* Width of the outline */
  -webkit-text-stroke-color: rgb(0, 0, 0); /* Color of the outline */
}

a {
  color: #00B7FF;
}

.bg-azure-light-gray {
  background-color: #EBEBEB;
}

.container-full-width {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.green {
  color: #1a7927;
}

.red {
  color: #ac2222;
}

.addGame {
  font-size: x-large;
}

.addGame * {
  font-size: 100%;
}

.centered-input {
  text-align: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.902);
}

.modal-size * {
  font-size: 30px;
}

.container-full-width {
  margin-left: 5%;
  max-width: 90%;
}

.btn-haptic {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.btn-haptic:hover {
  transform: translateY(-2px);
}

.btn-haptic:active {
  transform: translateY(1px);
}

.playerGameRow {
  max-width: 95%;
  padding: 15px;
  margin-left: 2%;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #000000;
  background-color: #e3e3e3;
  border-color: #000000;
}

.eloInput {
  text-align: center;
  border: none;
  border-width: 0;
  background-color: transparent;
  /* Add any other styling as needed */
}

.playerSelect {
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border-radius: 4px;
  /* Add any other styling as needed */
}
