head {
  padding: 50px;
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  padding: 50px;
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #dbf2ff;
}

a {
  color: #00B7FF;
}

.text-azure-blue {
  color: #0078D4
}

.bg-azure-light-gray {
  background-color: #EBEBEB;
}

.container-full-width {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.green {
  color: #1a7927;
}

.red {
  color: #ac2222;
}

.addGame {
  font-size: x-large;
}

.addGame * {
  font-size: 100%;
}

.centered-input {
  text-align: center;
}

.card {
  background-color: rgb(255, 255, 255);
}

.modal-size * {
  font-size: 50px;
}

.drag-me {
  
}